.headerAdmin {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.headerAdmin>h2{
  margin-top: 15px;
  text-align: center;
}

.headerAdmin__logo {
  margin-top: 3px;
  width: 150px;
  object-fit: contain;
}

.headerAdmin__add__icon {
  padding: 5px;
  height: 100px !important;
  color: black;
}

.header__admin__box>h5{
  text-align: center;
}

.single__review {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top:20px;
  padding-bottom: 20px;
}

.single__review > h1 {
  margin: 30px 0;
}

.highlight:hover {
  border-radius: 5px 5px 5px 5px;
  border: 1px black solid;
}

.searchBar{
  display: flex;
}

.searchBar{
  padding-top:30px;
  padding-bottom: 20px;
  margin-left: 8.5%;
  margin-right: 12.25%;
}
.searchBar >input{
  height: 30px;
  width: 100%;
  background-color:#eff2f5;
  padding-left: 50px;
}

@media screen and (max-width:600px){
  .headerAdmin>h2{
    text-align: center;
    font-size: 1rem;
  }

  .headerAdmin__logo{
    width: 6rem;
    margin-top: 2px;
  }

  .header__admin__box>h5{
    font-size: .8rem;
  }
}

@media screen and (max-width:400px){
  .headerAdmin>h2{
    text-align: center;
    font-size: .8rem;
  }

  .headerAdmin__logo{
    width: 4rem;
    margin-top: 2px;
  }

  .header__admin__box>h5{
    font-size: .6rem;
  }
}