.admin__header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header__logo {
  margin-top: 3px;
  width: 12rem;
  object-fit: contain;
}

.user__name {
  color: #0a8d48;
}

.admin__header>h2 {
  margin-top: 15px;
  text-align: center;
}

.header__add__icon {
  height: 100px !important;
  color: black;
}

.header__admin__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__admin__box>h5 {
  margin-top: -25px;
  text-align: center;
}

.header__admin__link {
  text-decoration: none;
  color: black;
}

.single__booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.searchBar {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 8.5%;
  margin-right: 12.25%;
  display: flex;
}

.searchBar>input {
  height: 30px;
  width: 100%;
  background-color: #eff2f5;
  padding-left: 50px;
}


.header__admin__box:hover {
  border-bottom: 1px black solid;
}

.content {
  background-color: rgb(68 64 64 / 17%);
}
.single__booking{
  width: 100%;
}
.booking_table{
  width: 90%;
}
.table_header{
  display: flex;
  flex-direction: row;
}

.table_head_name {
  width: 14%;
  text-align: left;
  border-right: 0px ;
  background-color: whitesmoke;

}

.table_head_contact_num {
  width: 14%;
  text-align: left;
  background-color: whitesmoke;
}

.table_head_email{
  width: 14%;
  text-align: left;
  background-color: whitesmoke;
}

.table_head_booking_date{
  width: 10%;
  text-align: left;
  background-color: whitesmoke;
}

.table_head_arrival_time{
  width: 10%;
  text-align: left;
  background-color: whitesmoke;
}
.table_head_booking_id{
  width: 14%;
  text-align: left;
  background-color: whitesmoke;
}
.table_head_delete{
  width: 12.5%; 
  text-align: left; 
  background-color: whitesmoke;
}

@media screen and (max-width:600px)
{
  .admin__header>h2{
    font-size: 1rem;
  }
  

  .header__logo{
    width: 6rem;
  }
}

@media screen and (max-width:460px){
  .header__logo{
    margin-top: 2px;
  }


}