.booking {
    display: grid;
    place-items: center;
    background-image: url("Media/booking3.JPG");
    width: 100%;
    height: 720px ;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.booking__img> h2{
    text-align: center;
    top: 20px;
    width: 700px;
    padding: 10px;
    background-color: transparent;
    color: black;   
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 1.9em ;
    font-family: 'Cedarville Cursive', cursive;
    border-bottom: 2px solid ;
}

.booking__img> p{
    top: 40px;
    width: 800px;
    padding: 10px;
    background-color: transparent;
    color: black;
    font-weight: bold;
    letter-spacing: 7px;
    font-size: 1.0em ;
    font-family: 'Cedarville Cursive', cursive;
    
}

.booking__form{
    top: 40px;
    width: 600px;     
    padding: 10px;
    background-color: transparent;
    color: black;
    font-weight: bold;
    letter-spacing: 7px;
    font-size: 1.2em ;
    font-family: 'Cedarville Cursive', cursive;

}

.booking__table{
    display: flex;
    flex-direction: column;

}

.booking__table > input{
    /* display: grid; */
    place-items: center;
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;
    background-color: rgb(255, 255, 255, 0.6);
    color: black;
    border-radius: 4px;
}


button{
    margin-top: 40px;
    border-radius: 4px;
    font-weight: 300;
    font-size: large;
    align-self: center;
    align-content: center;
    font-family: 'Cedarville Cursive', cursive;
    width: 150px;
    background-color: #f0c14b;
    border: 1px solid ;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 4px 7px;

}
button:hover {
    font-family: 'Cedarville Cursive', cursive; 
    font-weight: bold;
    background-color: #f1b314;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

