.booking {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: url(https://cdnimg.webstaurantstore.com/images/articles/149/concept_header_lrg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
    color: rgb(122, 228, 228);
}

.booking__form {
    padding: 5%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    /* box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.1), -7px -7px 20px rgba(241, 255, 255, 1); */
    align-items: center;
    background: rgba(0, 0, 0, 0.6); 
}
.booking__button{
    margin-top: 2%;
    width: 60%;
    background-color: #bbf1fa;
    outline: none;
    color: rgb(4, 11, 31);
    font-weight: bold;
    border-radius: 0.7rem;
    padding: 2%;
    transition: ease all 250ms;
    border: unset;
    font-size: large;
}

.booking__button:hover {
    cursor: pointer;
    color: #292929;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1),
    inset -3px -3px 5px rgba(241, 255, 255, 0.5);
  }

.booking__caution{
    display: flex;
    width: 60%;
}
.booking-head{
    color: aqua;
    width: 95%;
    text-align: center;
    height: 4%;
    font-family: 'Kaushan Script', cursive;
    font-size: 3.5rem;
}

@media screen and (max-width:600px)
{
    .booking__form{
        width: 70vw;
        margin-right: 1.2rem;
    }
    .booking-head{
        font-size: 3rem;
    }
}
