.footer {
  width: 100%;
  background-color: #1c2836;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.footer__logo {
  flex: 0.2;
}

.logo {
  width: 8vw;
  background-color: white;
}

.footer__contact {
  flex: 0.75;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footer__contact__details {
  width: 100%;
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
}

.contact__link__footer {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 760px) {
  .footer {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1c2836;
    align-items: center;
    padding-bottom: 30px;
  }

  .footer__logo {
    display: none;
  }

  .footer__contact {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .footer__contact__details {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.5vw;
  }

  .footer__contact__individual {
    margin: 3px 0px;
  }
}
.purple{
  color: white;
  width: 100%;
}