.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  z-index: 100;
  top: 0;
}

.header__logo {
  margin-left: 20px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.header__middle {
  max-width: 400px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex: 0.5;
  margin-left: auto;
  text-decoration: none;
}

.header__middle__options {
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.header__middle__options:hover {
  border-bottom: 1px solid black;
}

.header__social {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex: 0.2;
}

.icons {
  padding: 2px;
  font-size: 30px !important;
  color: black;
  text-decoration: none;
}

.header__social > p {
  margin-top: 8px;
  font-weight: 600;
}


.header__right {
  display: flex;
  flex-direction: row;
  flex: 0.1;
  align-items: center;
}

.header__right__link {
  text-decoration: none;
}

.header__right__inside {
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__optionLine2 {
  margin: 5px;
  color: black;
  text-align: center;
}

.header__optionLine2:hover {
  border-bottom: 1px solid black;
}
