  .menu{
    display: flex;
}
.menu__img{
    flex: 0.5;
    margin-bottom: 20px;
    background-image: url("Media/menuPage.jpg");
 
    background-attachment: fixed;
}

.menu__img > h1{

    position: relative;
    /* left: 10px;
    top: 20px; */
    /* width: 700px; */
    padding: 10px;
    background-color: transparent;
    color: black;
    font-weight: bold;
    
    font-size: 9.3em ;
    font-family: 'Cedarville Cursive', cursive;
    /* border-right: 2px solid ; */
}
.menu__img > h5{
    position: relative;
    /* left: 10px;
    top: 20px; */
    /* width: 700px; */
    padding: 10px;
    background-color: transparent;
    color: black;
    font-weight: bold;
    
    font-size: 1.3em ;
    font-family: 'Cedarville Cursive', cursive;
    /* border-right: 2px solid ; */
}
.menu__img{
    text-decoration: none;
}
.menu__img > h5{
    position: relative;
    /* left: 10px;
    top: 10px ;
    width: 700px; */
    padding: 10px;
    background-color: transparent;
    color: black;
    font-weight: bold;
    
    font-size: 1.3em ;
    font-family: 'Cedarville Cursive', cursive;

}
.menu__card{
    flex: 0.5;

}

.menu__card > img {

    width: 750px;
    height: 700px;
    margin-left: 20px;
    /* border-left: 9px solid black; */
}

.menu__link:hover{
    color: red;
}

@media screen and (max-width:960px){

    .menu{
        display: flex; 
        flex-direction: column;
    }

    .menu__card{
        width: fit-content;
        height: fit-content;
    }
}
