.review__img{
    width: 100%;
    height: 720px ;
    background-image: url("Media/Review.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

.review__img> h1{

    position: relative;
    left: 550px;
    top: 20px;
    width: 430px;
    padding: 10px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 2.3em ;
    font-family: 'Cedarville Cursive', cursive;
    border-bottom: 2px solid ;
}

.review__form{
    position: relative;
    left: 400px;
    top: 40px;
    justify-content: left;
    width: 430px;     
    padding: 10px;
    background-color: transparent;
    /* color: rgb(229, 255, 0); */
    color: white;
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 1.7em ;
    font-family: 'Cedarville Cursive', cursive;

}

.review__table{
    /* background-color: transparent; */
    display: flex;
    flex-direction: column;
    /* width: 50% ; */
}

.review__table > input{
    width: 200%;
    padding: 8px 10px;
    margin: 8px 0;
    background-color: rgb(255, 255, 255, 0.6);
    color: black;
}

.review__table > textarea{
    width: 200%;
    padding: 8px 10px;
    margin: 8px 0;
    background-color: rgb(255, 255, 255, 0.6);
    color: black;
}


input[type = submit]{
    position: relative;
    left: 200px;
    top: 1px;
    border-radius: 4px;
    font-weight: 200;
    align-self: center;
    align-content: center;
    width: 150px;
    background-color: #f0c14b;
    border: 1px solid ;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 8px 10px;

}
input[type = submit]:hover {
    font-weight: bold;
    background-color: #f1b314;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.review__star{
    align-items: center;
    display: flex;
    cursor: pointer;
}