
.scrolling__firstPage{
    width: 100%;
    height: 700px;
    margin-bottom: 20px;
    background-image: url("Media/mainPage.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}


.scrolling__thirdPage{
    width: 100%;
    height: 850px;
    background-image: url("https://images.unsplash.com/photo-1523294587484-bae6cc870010?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1464&q=80");
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-bottom: 20px;

}

.scrolling__thirdPage > p{

    position: relative;
    left: 20px;
    top: 170px;
    width: 800px;
    padding: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 2.2em;
    font-family: 'Cedarville Cursive', cursive;
    border-right: 2px solid ;

}


.scrolling__fourPage{
    width: 100%;
    height: 800px;
    background-image: url("Media/fourPage.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-bottom: 20px;

}

.scrolling__fourPage > p{

    position: relative;
    left: 670px;
    top: 70px;
    width: 700px;
    padding: 10px;
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 2.0em;
    font-family: 'Cedarville Cursive', cursive;
    border-left: 2px solid ;

}

.scrolling__fivePage{
    width: 100%;
    height: 800px;
    background-image: url("Media/fivePage.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-bottom: 20px;

}

.scrolling__fivePage > p{

    position: relative;
    left: 20px;
    top: 170px;
    width: 800px;
    padding: 10px;
    background-color: transparent;
    color: black;
    font-weight: bold;
    font-size: 2.2em;
    font-family: 'Cedarville Cursive', cursive;
    border-right: 2px solid ;

}

.scrolling__sixPage{
    width: 100%;
    height: 800px;
    background-image: url("Media/sixPage.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    margin-bottom: 20px;

}

.scrolling__sixPage > p{

    position: relative;
    left: 670px;
    top: 70px;
    width: 800px;
    padding: 10px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2.0em;
    font-family: 'Cedarville Cursive', cursive;
    /* margin-right: 10px ; */
    border-left: 2px solid ;

}


