.contact__link {
  text-decoration: none;
  color: rgb(78, 144, 231);
}

/* .delete__iconbox {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
} */

.delete__iconbox:hover {
  cursor: pointer;
  color: red;
}


.searchBar{
  padding-top:30px;
  padding-bottom: 20px;
  margin-left: 8.5%;
  margin-right: 12.25%;
}
.searchBar >input{
  height: 30px;
  width: 100%;
  background-color:#eff2f5;
  padding-left: 50px;
}
/* table, th, td {
  border:none;
  border-collapse: collapse;
  background-color: whitesmoke;
  
} */
.name {
  border-top: 1px  solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 14%;
  background-color: whitesmoke;
}
.contact_num {
  border-top: 1px  solid black;
  width: 14%;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
}

.email{
  border-top: 1px  solid black;
  width: 14%;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
}

.booking_date{
  border-top: 1px  solid black;
  width: 7%;
  border-bottom: 1px solid black;
  /* padding-left: 4%; */
  background-color: whitesmoke;
}

.arrival_time{
  border-top: 1px  solid black;
  width: 7%;
  border-bottom: 1px solid black;
  padding-left: 4%;
  background-color: whitesmoke;
}
.booking_id{
  border-top: 1px  solid black;
  width: 14%;
  border-bottom: 1px solid black;
  background-color: whitesmoke;
}
.delete__iconbox{
  border-top: 1px  solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  /* height: 100%; */
  padding-left: 4%;
  background-color: whitesmoke;
  padding-right: 7%;
} 
.show_booking{
  width: 90%;
  display: flex;
  flex-direction: row;
  
}

@media screen and (max-width:600px){
  .show_booking{
    flex-direction: column;
  }
}
