.login{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__container{
    /* align-items: center; */
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    height: fit-content;
    width: 300px;
    padding: 20px;
    border:1px solid lightgrey;
    border-radius: 2px;
}

.login__logo{
    margin-left: 50px;
    margin-top:20px;
    margin-bottom:20px;
    width: 200px ; 
    object-fit: contain ;
}

.login__container > h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container > form > h5 {
    font-size: medium;
    margin-bottom: 15px;
}

.login__container > form > input {
    border-radius:2px;
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width:97%;
}


.seperator{
    /* margin-top: 2px ; */
    /* z-index:-1; */
    /* margin-bottom: -2px; */
    /* margin: -1px 0px 0px; */
    /* margin-top: 5px; */
    position: relative;
    z-index: 0;
}

.seperator__div{
    /* margin: -10px 0px 0px;
    position: absolute; */
    z-index: 1;
    font-weight: 500;
    text-align: center;
    font-weight: 500;
    size: 10px ;
    color: grey;
}

.seperator__title {
    /* text-align: center;
    font-weight: 500;
    size: 10px ; */
    /* background-color: white ; */
    /* color: grey; */
    /* margin: -20px 0px 0px; */
}



.login__container > p {
    margin-top: 15px;
    font-size: 12px ;
}

.signin__button {
    background:#f0c14b;
    border-radius:2px;
    width:100%;
    height:50px;
    border:1px solid;
    margin-top:10px;
    font-family: 'Architects Daughter', cursive;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
}

span{
    align-items: center ;
    width: 300px;
}
.signin__button:hover  {
    font-weight: bold;
    background-color: #f1b314;
    
}

.seperator__title{
    margin: -1px 0px 0px;
    align-items:center;
}